*{
   margin:0px;
   padding:0;
}
.container{
    height:300px;
    margin: 0px 10px;
    border:1px solid #000;
    position:relative;
    background-image:url("images/intro.jpg");
    background-colour: blue;
    background-repeat: no-repeat;
    background-position:center top;
}
.container h1 {
    padding-top:80px;
    text-align: center;
    color:black;
    padding-bottom: 30px;
}
.container p{
    font-size: large;
    text-align: center;
    color: black;
    padding-bottom:40px;
    padding-left: 30px;
    padding-right: 30px;
}
.button {
    background-color:white;
    color:black;
    border:none;
    padding: 25px 30px;
    margin-left: 550px;
    font-size:larger;
}
.button:hover{
    background:blue;
    color:white;
}
.opinion h2{
    padding-top: 35px;
    text-align:center;
    padding-bottom:25px;
}
.opinion p{
    text-align:center;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:25px;
}
.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
    background-color: lightblue;
    color:black;
    font-style: italic;
    margin-bottom: 25px;
}
.block h3{
    padding-top: 20px;
    padding-bottom: 25px;
    margin-left: 110px;
}

#main-block{
    float:left;
    width:50%;
    background-color: lightblue;
    box-sizing:border-box;
    padding:15px;
}
#sidebar{
    float:right;
    width:50%;
    background-color:black;
    color:#fff;
    box-sizing:border-box;
    padding:25px;
}
#main-footer{
    padding:50px;
    background-color: black;
    color:wheat;
    text-align:center;
}
